* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow: hidden;
}

.frame-5-1 {
  position: relative;
  width: 1440px;
  height: 900px;
  margin: 0 auto;
}

.frame-5-1 img {
  position: absolute;
  object-fit: fill;
}

.image-7-2 {
  width: 724px;
  height: 677px;
  left: 616px;
  top: 101px;
  z-index: 2;
}

.image-8-3 {
  width: 930px;
  height: 620px;
  left: 0px;
  top: 31px;
  z-index: 1;
  opacity: 0.55;
}

.image-9-4 {
  width: 654px;
  height: 582px;
  left: 36px;
  top: 135px;
  z-index: 3;
}
